<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CameraTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <CameraTester.Properties.Settings>
            <setting name="jump_plulse" serializeAs="String">
                <value>5040</value>
            </setting>
            <setting name="tray_row" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="tray_column" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultNumberOfImages" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DReductionVal" serializeAs="String">
                <value>5</value>
            </setting>
        </CameraTester.Properties.Settings>
    </userSettings>
</configuration>
